.row
  .large-6.columns
    %h2 Tech Cred
    %h3 Technologies I've Worked With
    %ul.square
      %li Ruby
      %li PHP
      %li CSS/SCSS/SASS
      %li HTML
      %li Javascript/Coffeescript
      %li Perl
      %li Bash
      %li API/JSON

    %h3 Frameworks I've Used
    %ul.square
      %li Ruby on Rails
      %li WordPress Multisite
      %li Drupal
      %li Twitter Bootstrap
      %li Zurb Foundation
      %li Sinatra
    %h3 Applications I Like
    %ul.square
      %li
        Apache2
        %ul
          %li mod_pagespeed
          %li mod_proxy
          %li mod_ssl
          %li mod_rewrite
      %li Apache Tomcat
      %li MySQL
      %li PostgreSQL
      %li Atlassian JIRA (User and Administrator)
      %li Atlassian Confluence Wiki (User and Administrator)
      %li MediaWiki
      %li
        Linux (Desktop and Server)
        %ul
          %li Debian/Ubuntu
          %li Fedora/Red Hat Enterprise Linux
          %li Installing/Compiling from Source
      %li Shibboleth

    %h3 Tools I Use Daily
    %ul.square
      %li SSH
      %li cron
      %li zsh
      %li GNU Utilities
      %li Sublime Text
      %li Vim
      %li Git/Github
      %li Mercurial/HG


    %h3 Other
    %ul.square
      %li Adobe Photoshop
      %li Adobe Lightroom

  .large-6.columns
    %h2 Things About Me
    %ul.square
      %li My first language was TI-BASIC for the TI-83+ Graphing Calculator. Perl, on the other hand, was my first web language.
      %li Go Dawgs! I'm a graduate of the University of Washington in Seattle, and accidentally minored in Human Rights.
      %li I'm one of those left-handed types.
      %li In a former life I worked in public affairs for a small housing authority.

      %li On more than one occasion I've been described as a "professional hipster."
      %li I'm a vegetarian, but I don't care what you eat.
      %li Boards of Canada is the best band ever, and Apollo 13 is the best movie of all time.
      %li I've seen every episode of Star Trek: TOS, TNG, DS9, VOY, and ENT. Regardless, Babylon 5 is still my favorite Sci-Fi.
      %li I read. A lot. Mostly Science Fiction and History.
      %li My cookies are astoundingly good.
      %li Film cameras are really swell, and I really like shooting with them.
