.row
  .large-6.columns
    %h2 Drop me a line.
    %h4.subheader I'm really nice!
  .large-6.columns
    .right
      %ul.vcard
        %li.fn Nikky Southerland
        %li.locality Seattle
        %li
          %span.state
            Washington
        %li.email
          %a [my first name].[my last name]@gmail.com

