.row
  .large-6.columns
    %h2 Drop me a line.
    %p Want to collaborate on something? Talk about a job opportunity? Just chat in general? Send me an email and we'll make it happen.
  .large-6.columns
    .right
      %ul.vcard
        %li.fn Nikky Southerland
        %li.locality Seattle
        %li
          %span.state
            Washington
        %li.email
          %a{href: "mailto:nikky.southerland@gmail.com"} nikky.southerland@gmail.com

