.row
  .large-12.columns
    %img.wrap-right{src: "img/nikky_300x300.jpg", alt: 'nikky'}
    %p Hello! My name is Nikky and I'm a software engineer based in Seattle, Washington. I specialize in backend web development, and also have experience with server administration. 
    %p Working with technology is my passion, but I have other interests too. I'm a photographer, blogger, and traveler. You can view my <a href="resume">resume</a>, <a href="projects">open source projects</a>, and a full list of <a href="technologies">technologies</a> I'm comfortable with. 
