.row
  .large-12.columns
    %img.wrap-left{src: "img/code_400x300.png", alt: 'code example'}
    %h4 I make things
    %p Hello! My name is Nikky and I'm a developer based in Seattle, Washington. Coding is truly a fun activity, and I'm excited for every chance I get to make new things and improve what has already been created. I have strong back-end skills, but I'm not afraid to work on the front-end when given the opportunity to make something amazing. Not only do I develop, I'm also a Linux systems administrator who knows how to balance server load, maintain databases, and keep all of my creations running smoothly. In short, I'm familiar with all layers of an application, and use this knowledge to create applications that are well-behaved and responsive.
    %p I primarily work with Ruby on Rails: this is an awesome technology, and I'm really happy to have found a framework that makes creating and maintaining awesome sites more efficient than ever! Besides Ruby, I also work with PHP, Perl, scripting, and many other web frameworks. I create and maintain databases in both MySQL and PostgreSQL, and I'm comfortable both working with in-house servers and in systems hosted in the cloud.
    %p I'm a communicator who knows how to talk with both non-technical and technical users alike: it's hard to build something without knowing what our customers want.
    %p Working with technology is my passion, but I have other interests too. I'm a photographer, blogger, and traveler. You can view my <a href="resume">resume</a>, <a href="projects">open source projects</a>, and a full list of <a href="technologies">technologies</a> I'm comfortable with. Want to work together? I'd love to <a href="contact-me">get in touch!</a>
