.row
  .large-12.columns
    %a.hide-for-medium-down{:href=> "http://github.com/allynfolksjr/celluloid"}
      %img.wrap-left{:src => "img/code_400x300.png"}/
    %h4 I make things
    %p Hello, my name is Nikky and I'm a full-stack software engineer and systems administrator based in Seattle. I currently work in a hybrid position that combines software development with applications support, GNU/Linux sysadmin, and working with customers to not only document their needs, but implement better solutions for them and their applications. Over the past few years I've been working these roles while honing my skills at Ruby on Rails and other web development technologies.
    %p Recently I've been working on <a href="https://github.com/allynfolksjr/netid-tools">NetID Tools</a>, which is a Ruby Gem that enables me to more quickly diagnose and solve user performance issues and troubleshooting servers. Another project is <a href="https://github.com/allynfolksjr/Yet-Another-Monitoring-Program">YAMP</a>, which is a Ruby on Rails application that does server monitoring simply and cleanly. I have a lot of other <a href="/projects">projects</a>, so feel free to check out what I've been doing lately at my <a href="http://github.com/allynfolksjr">github profile</a>.
    %p Perhaps photography is more your thing? I have a lovely <a href="http://flickr.com/photos/allynfolksjr">Flickr</a> filled to the brim. I've also been known to write about what I've been up to on my <a href="http://nykida.net">blog</a>.

    %h4 About me
    %ul.square
      %li My first language was TI-BASIC for the TI-83+ Graphing Calculator. Perl, on the other hand, was my first web language.
      %li Go Dawgs! I'm a graduate of the University of Washington in Seattle, and accidentally minored in Human Rights.
      %li I'm one of those left-handed types.
      %li In a former life I worked in public affairs for a small housing authority.
      %li On more than one occasion I've been described as a "professional hipster."
      %li Boards of Canada is the best band ever, and Apollo 13 is the best movie of all time. There is no disputing these facts.
      %li I've seen every episode of Star Trek: TOS, TNG, DS9, VOY, and ENT.
      %li I read. A lot. Mostly Science Fiction and History.
      %li My real life cookies are astoundingly good.
      %li Film cameras are really swell, and I really like shooting with them.

