.row
  .large-12.columns
    %a.hide-for-medium-down{:href=> "http://github.com/allynfolksjr/celluloid"}
      %img.wrap-left{:src => "img/code_400x300.png"}/
    %h4 I make things
    %p I'm a full-stack software engineer and systems administrator based in Seattle. I firmly believe in the of power open source software, and use OSS create beautiful and elegant solutions. My favorite tools are Ruby on Rails and a Linux stack, but I have experience with many other <a href="tech-cred">languages</a> and <a href="resume">technologies</a>. We live in a technology-infused world, and I seek to make it better by making things a little easier for everyone. I currently work in a position akin to an Applications Support Engineer in higher education.
    %p If you would like to take a gander at what I'm coding, check out my <a href="http://github.com/allynfolksjr">github profile</a>. Perhaps photography is more your thing? I have a lovely <a href="http://flickr.com/photos/allynfolksjr">Flickr</a> filled to the brim. I've also been known to write about what I've been up to on my <a href="http://nykida.net">blog</a>.
    %h4 About me
    %ul.square
      %li My first language was TI-BASIC for the TI-83+ Graphing Calculator. Perl, on the other hand, was my first web language.
      %li Go Dawgs! I'm a graduate of the University of Washington in Seattle, and accidentally minored in Human Rights.
      %li I'm one of those left-handed types.
      %li In a former life I worked in public affairs for a small housing authority.
      %li On more than one occasion I've been described as a "professional hipster."
      %li Boards of Canada is the best band ever, and Apollo 13 is the best movie of all time. There is no disputing these facts.
      %li I've seen every episode of Star Trek: TOS, TNG, DS9, VOY, and ENT.
      %li I read. A lot. Mostly Science Fiction and History.
      %li My real life cookies are astoundingly good.
      %li Film cameras are really swell, and I really like shooting with them.

