!!!
%head
  %title=page_title
  %link{href: 'stylesheets/foundation.css', rel: 'stylesheet', type: 'text/css'}
  %script{src: 'js/vendor/custom.modernizr.js'}
  %link{href: 'http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300', rel: 'stylesheet', type: 'text/css'}
%body
  .row
    .large-8.columns
      %h1
        = page_title
    -# .large-4.columns
    -#   %ul.inline-list
    -#     %li
    -#       %a{:href => "https://github.com/allynfolksjr"}
    -#         %img{src: 'img/Octocat.jpg', width: 50, height: 50, alt: 'octocat github logo'}
    -#     %li
    -#       %a{:href => "https://twitter.com/allynfolksjr"}
    -#         %img{src: 'img/twitter-bird-blue-on-white.png', width: 50, height: 50, alt: 'twitter logo'}

  .row
    .large-8.columns 
      %ul.inline-list
        %li
          %a{href: "/"} Home
        %li
          %a{href: "/technologies"} Technologies
        %li
          %a{href: "/resume"} Resume
        %li
          %a{href: "/projects"} Projects
        %li
          %a{href: "/about-me"} About Me
        %li
          %a{href: "/contact-me"} Contact Me
    .large-4.columns
      %ul.inline-list
        %li
          %a{:href => "https://github.com/allynfolksjr"}
            %img{src: 'img/Octocat.jpg', width: 50, height: 50, alt: 'octocat github logo'}
        %li
          %a{:href => "https://twitter.com/allynfolksjr"}
            %img{src: 'img/twitter-bird-blue-on-white.png', width: 50, height: 50, alt: 'twitter logo'}


  .row
    .large-12.columns
      %hr/
  =yield
%footer.row.full-width
  .large-12.columns
    %hr/
    .large-12.columns
      .text-center
        %p
          Made with love by <a href="http://twitter.com/allynfolksjr">@allynfolksjr</a> with some backup from <a href="http://foundation.zurb.com/">Zurb</a> and <a href="http://www.sinatrarb.com/">Sinatra</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="https://github.com/allynfolksjr/NikkyHomeWebsite">Source</a>
  :javascript
    document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
  %script{src: '/js/foundation/foundation.js'}
  :javascript
    $(document).foundation()

  %script{src: 'js/nikky.js'}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39615471-1', 'nikkysoutherland.com');
    ga('send', 'pageview');

