.row
  .large-12.columns
    %h2.subheader
      Open Source Projects
    %p
      While I work on a variety of technologies, most of my open source projects are Ruby and/or Rails projects. A full list of my public work is available on <a href="https://github.com/user/allynfolksjr">github</a>, but a selected sample can be seen below.
    .row
      .large-12.columns
        %h3 Nikky Ipsum
      .large-6.columns
        %p
          Thx. Comcrust-Omnidrama isn't filthy, every time every single organization, stupidities and probably encryptions are You aren't insulted, so I don't know why some uploaded program or quantum computing destroys only our torrent Intelligent, secret, but of course emotionless lamesauces study, so if I were president, criticisms aren't failings' failings. Don't blame Go emailing locked-down I pirate! Badmouthings aren't rejected, nicer, and probably Every single last trackball or maybe my pirates
        .panel
          %a{:href => "#"}
            Source Code
          |
          %a{:href => "#"}
            Deployed Example of Nikky Ipsum
      .large-6.columns
        %p
          Won't stupidities abuse failings? At least only your organization, licensed and probably overjoyed Telnet or possibly stupidity writes A vendetta Fine. Troll. Nobody Just stop supporting GIF, you Midori, stop LOSERS. I PROVIDED US, AND I KNEW THAT TOO MANY OF THE DORMS' CRITICISMS, EVERY SINGLE ANIMAL'S OVERJOYED QUALITY OR ALMOST ALL OF THE classes aren't
    .row
      .large-12.columns
        %h3.right YAMP
      .large-6.columns
        %p
          Go Old news. NOU. Omnidrama swore Failings double post, and I pretended that every single life is EVERY PROTOTYPE SOMETIMES CRIES CLUELESSLY, ergo incompetent, legitimate, and of course personal failings aren't half of the pig's hilarious Earthkiller. Meanest qualities hate encryptions' delicious Lul! I double PDF, lamesauces will make us swear at
      .large-6.columns
        %p
          Don't do that again. And not a single care was given. Who doesn't MediaWiki Too many of the tablets invaded, so often that only my identity Keep Newsflash: lamesauces are Provide a Corruptions, you wouldn't make you double Failings This drug is
    .row
      .large-12.columns
        %h3 Vinyl Album Tracker
      .large-6.columns
        %p
          Go Old news. NOU. Omnidrama swore Failings double post, and I pretended that every single life is EVERY PROTOTYPE SOMETIMES CRIES CLUELESSLY, ergo incompetent, legitimate, and of course personal failings aren't half of the pig's hilarious Earthkiller. Meanest qualities hate encryptions' delicious Lul! I double PDF, lamesauces will make us swear at
      .large-6.columns
        %p
          Don't do that again. And not a single care was given. Who doesn't MediaWiki Too many of the tablets invaded, so often that only my identity Keep Newsflash: lamesauces are Provide a Corruptions, you wouldn't make you double Failings This drug is
    .row
      .large-12.columns
        %h3.right NetID Tools Gem
      .large-6.columns
        %p
          Go Old news. NOU. Omnidrama swore Failings double post, and I pretended that every single life is EVERY PROTOTYPE SOMETIMES CRIES CLUELESSLY, ergo incompetent, legitimate, and of course personal failings aren't half of the pig's hilarious Earthkiller. Meanest qualities hate encryptions' delicious Lul! I double PDF, lamesauces will make us swear at
      .large-6.columns
        %p
          Don't do that again. And not a single care was given. Who doesn't MediaWiki Too many of the tablets invaded, so often that only my identity Keep Newsflash: lamesauces are Provide a Corruptions, you wouldn't make you double Failings This drug is
    .row
      .large-12.columns
        %h3 Mass-Email-o-Nator
      .large-6.columns
        %p
          Go Old news. NOU. Omnidrama swore Failings double post, and I pretended that every single life is EVERY PROTOTYPE SOMETIMES CRIES CLUELESSLY, ergo incompetent, legitimate, and of course personal failings aren't half of the pig's hilarious Earthkiller. Meanest qualities hate encryptions' delicious Lul! I double PDF, lamesauces will make us swear at
      .large-6.columns
        %p
          Don't do that again. And not a single care was given. Who doesn't MediaWiki Too many of the tablets invaded, so often that only my identity Keep Newsflash: lamesauces are Provide a Corruptions, you wouldn't make you double Failings This drug is
    .row
      .large-12.columns
        %h3.right Groupr Gem
      .large-6.columns
        %p
          Go Old news. NOU. Omnidrama swore Failings double post, and I pretended that every single life is EVERY PROTOTYPE SOMETIMES CRIES CLUELESSLY, ergo incompetent, legitimate, and of course personal failings aren't half of the pig's hilarious Earthkiller. Meanest qualities hate encryptions' delicious Lul! I double PDF, lamesauces will make us swear at
      .large-6.columns
        %p
          Don't do that again. And not a single care was given. Who doesn't MediaWiki Too many of the tablets invaded, so often that only my identity Keep Newsflash: lamesauces are Provide a Corruptions, you wouldn't make you double Failings This drug is
