.row
  .large-12.columns
    %h2.subheader
      Open Source Projects
    %p
      While I work on a variety of technologies, most of my open source projects are Ruby and/or Rails projects. A full list of my public work is available on <a href="https://github.com/user/allynfolksjr">github</a>, but a selected sample can be seen below.
    .row
      .large-12.columns
        %h3 YAMP (Yet Another Monitoring Program)
        %h4.subheader Work in Progress
        %p
          Designed to be a cleaner and more straightforward way to monitor application and server status, YAMP helps you quickly and easily aim for 'dashboard' with simple alerts. Allowing users to discern at a glance their monitor status, YAMP lets you focus on what you care about, rather than setting up monitors.
        %p
          YAMP is a Ruby on Rails application, and utilizes background processing with Sidekiq and Redis. Deployed with Capistrano on a Amazon EC2 host, and using a Thin server cluster with Apache2 serving the static assets and proxying the Rails requests to Thin dynamically. PostgreSQL supplies the RDBMS functionality.
        %p
          Designed for modularity in mind, YAMP allows you to quickly and easily add additional monitors to suit your individual needs.
        .panel
          %a{:href => "https://github.com/superawesomesquad/yet-another-monitoring-program"}
            Source Code
          |
          %a{:href => "https://sylvan.nykida.net"}
            Deployed Example of YAMP
          (Ignore cert errors -- dev box)
    .row
      .large-12.columns
        %h3 Nikky Ipsum
        %p <a href="https://github.com/ticalc-travis/nikkybot">NikkyBot</a> is a program written by a colleague that collects all of my commonly-used phrases and words on IRC and then spins them into random quotes. This naturally led to an extension project that has become Nikky Ipsum.
        %p Written in Ruby and powered by Sinatra, Nikky Ipsum provides a wrapper for the original C-based binary (with slight modifications on my part to make it more suitable to use) and generates random phrases to be constructed into paragraphs. jQuery AJAX provides asynchronous updates on demand by utilizing the JSON-based API, and a user-selectable number of paragraphs for the Nikky Ipsum to return.
        .panel
          %a{:href => "https://github.com/allynfolksjr/nikky-ipsum"}
            Source Code
          |
          %a{:href => "http://ipsum.nykida.net"}
            Deployed Example of Nikky Ipsum
    .row
      .large-12.columns
        %h3 Vinyl Album Tracker (Celluloid)
        %p
          Our first Rails application, the poorly-named Celluloid makes API calls to Discogs and allows you to pull in metadata for your vinyl album collection. Thin is used for the application server along with a MySQL database backend.
        .panel
          %a{:href => "https://github.com/allynfolksjr/celluloid"}
            Source Code
          |
          %a{:href => "https://celluloid.nvm2u.com"}
            Deployed Example of Celluloid
          (Ignore cert errors -- dev box)
    .row
      .large-12.columns
        %h3 NetID Tools Gem
        %p
          This Gem allows users to query various servers to see if a particular user is running a MySQL server, website, or other information that would assist in diagnostics of applications and issues.
        .panel
          %a{:href => "https://github.com/allynfolksjr/netid-tools"}
            Source Code
    .row
      .large-12.columns
        %h3 Mass-Email-o-Mator
        %p
          Mass-Email-o-Mator allows a user to quickly bulk-mail large amounts of users. Allowing the use of custom data for each mail, it will also optionally query the UW Groups Web Service API to discern if a NetID is shared, and if so, CC the account administrators of the shared NetID.
          .panel
            %a{:href => "https://github.com/allynfolksjr/Mass-Email-o-nator"}
              Source Code
    .row
      .large-12.columns
        %h3 Groupr Gem
        %p
          Groupr allows a user to do CRUD operations with the UW Groups Web Service API.
        .panel
          %a{:href => "https://github.com/allynfolksjr/groupr"}
            Source Code
