.row
  .large-6.columns
    %h3 Languages
    %ul.square
      %li Ruby (Proficient)
      %li CSS/SCSS/SASS (Proficient)
      %li HTML (Proficient)
      %li Javascript/Coffeescript (Familiar with)
      %li Java (Familiar with)
      %li C (Familiar with)
      %li PHP (Bit rusty)
      %li Perl (Bit rusty)

    %h3 Frameworks
    %ul.square
      %li Ruby on Rails
      %li WordPress Multisite
      %li Sinatra
      %li General API/JSON
      %li Amazon EC2/AWS
  .large-6.columns
    %h3 Applications
    %ul.square
      %li
        Apache2, including these modules:
        %ul
          %li mod_pagespeed
          %li mod_proxy
          %li mod_ssl
          %li mod_rewrite
      %li Apache Tomcat
      %li MySQL
      %li PostgreSQL
      %li Atlassian JIRA (User and Administrator)
      %li Atlassian Confluence Wiki (User and Administrator)
      %li MediaWiki
      %li
        Linux (Desktop and Server)
        %ul
          %li Debian/Ubuntu
          %li Fedora/RHEL
          %li Compiling and running C/C++ applications
      %li Shibboleth

    %h3 Tools
    %ul.square
      %li rbenv
      %li SSH/SCP
      %li cron
      %li zsh
      %li GNU Utilities
      %li Sublime Text
      %li Vim
      %li Git
      %li Mercurial


    %h3 Other
    %ul.square
      %li Adobe Photoshop
      %li Adobe Lightroom
