<div class="blue section">
  <div class="row">
    <div class="small-12 medium-7 small-order-2 medium-order-1">
      <h5>Music</h5>
      <p>
        Pumping through my headphones are probably
        <em>Boards of Canada</em> are the best music group of the past
        hundred years. Other favorites include <em>El Huervo</em>,
        <em>Harvey Danger</em>, <em>The Long Winters</em>,
        <em>Talk Talk</em>, <em>Massive Attack</em>, <em>
        The Notorious B.I.G.</em>
        My <a href="http://www.last.fm/user/allynfolksjr/"
        target="_blank">last.fm</a> page has more information about
        what I listen to than you should ever likely be interested in.
      </p>

      <h5>Gaming</h5>

      <p>
        Computer games are great, and strategy games are the best <em>
        Starcraft</em>, <em>Warcraft III</em>, <em>Supreme Commander</em>,
        and <em>Fallout</em>
        are some of my favorites. Filling out the rest are <em>Mario Kart 64</em>,
         <em>Hotline Miami</em>, and <em>Dota2</em>.
       </p>

      <h5>Reading</h5>

      <p>
        I'm most often found reading non-fiction books. Favorite genres include
        WWII, general history, and space. Fiction genres include Sci-Fi and Graphic
        Novels. Favorites include <em>Dune</em>, <em>The Culture Series</em>, and
        <em>Jurassic Park</em>.
      </p>

      <h5>Movies</h5>

      <p>
        I don't watch many movies, but when I do, they're usually
        Space-related. <em>Apollo 13</em> and
        <em>Star Wars: A New Hope</em> are always in my watchlist.
      </p>


      <h5>Television</h5>
      <p>
        <em>Star Trek</em>, especially <em>Deep Space Nine</em> and
        <em>The Next Generation</em>, is my favorite television series.
        <em>Aqua Teen Hunger Force</em> comes in as a close second.
      </p>
    </div>
    <div class="small-12 medium-5 small-order-1 medium-order-2">
      <h2>
        Favorites
      </h2>
    </div>
  </div>
</div>
