<% if tweets.present? %>
  <% tweets.first(3).each do |tweet| %>
    <div class="tweet">
      <h6 class="no-bm">
        <%= fa_icon 'twitter' %>
        <small>
          <%= link_to ('Posted ' + time_ago_in_words(tweet.posted_at.dup) + ' ago'), tweet.url, target: '_blank' %>
        </small>
      </h6>

      <%= simple_format(tweet.text.html_safe) %>
    </div>
  <% end %>
<% else %>
  <p><%= fa_icon 'twitter' %> <a href="https://twitter.com/allynfolksjr">@allynfolksjr</a></p>
<% end %>
