<% if tweets.present? %>
  <% tweets.first(3).each do |tweet| %>
    <h6> <%= fa_icon 'twitter' %>
      <%= tweet.text.html_safe %>
      <small>
        <%= link_to ('Posted ' + time_ago_in_words(tweet.posted_at.dup) + ' ago'), tweet.url, target: '_blank' %>
      </small>
    </h6>
  <% end %>
<% else %>
  <p><%= fa_icon 'twitter' %> <a href="https://twitter.com/allynfolksjr">@allynfolksjr</a></p>
<% end %>
